
.ci-result-set-area {
    width: 99%;
}

.ci-result-set-li {
    border-bottom: 1px solid #f4f4f4;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
}

.ci-result-set-item {
    background: transparent;
    font-size: 12px;
    padding: 5px 2px;
    color: #444;
    border-top: 0;
    cursor: pointer;
    border-left-color: #3c8dbc;
}

.nav-stacked > li > .ci-result-set-row:hover {
    background: #ECF0F5;
    color: #444;
    font-size: 13px;
    border-top: 0;
    border-left: solid 2px #3c8dbc;
    font-weight: 500;
}

.ci-result-set-btn {
    padding-top: 12px;
}

.ci-result-set-btn > .btn-danger {
    height: auto !important;
    color: #fff !important;
    background-color: #dd4b39 !important;
    border-color: #d73925 !important;
}

.ci-result-set-row {
    padding-left: 10px;
    padding-right: 10px;
}