<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>案件分析</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" href="/lib/jquery-ui/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/lib/jquery-ui/jquery-ui.theme.min.css"/>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/lib/admin-lte/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/lib/admin-lte/css/ionicons.min.css"/>
    <link rel="stylesheet" href="/lib/admin-lte/css/AdminLTE.min.css"/>
    <link rel="stylesheet" href="/lib/admin-lte/css/skins/_all-skins.min.css"/>
    <link rel="stylesheet" href="/lib/ztree/css/zTreeStyle/zTreeStyle.css"/>
    <link rel="stylesheet" href="/lib/datepicker/datepicker3.css"/>

    <script src="/lib/jquery/jquery-3.2.0.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="/lib/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="/lib/admin-lte/js/app.js"></script>
    <script src="/lib/ztree/js/jquery.ztree.core.js"></script>
    <script src="/lib/cinsight/cinsight-shell.js"></script>
    <script src="/lib/moment/moment.min.js"></script>
    <script src="/lib/datepicker/bootstrap-datepicker.js"></script>
    <script src="/lib/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>

</head>

<body class="skin-black-light fixed sidebar-mini">

<div id="header" class="wrapper"></div>

<div id="workspace" class="wrapper"></div>

<div id="dialog" title="Basic dialog" style="display: none;"></div>
<div id="dialog2" title="Tip dialog" style="display: none;"></div>
<script src="/dist/index-bundle.js"></script>
</body>

</html>
